@font-face {
  font-family: Gallerya;
  src: url(public/Fonts/Gallerya-Regular.ttf);
}
$galleryaFont: "Gallerya";

@font-face {
  font-family: LongaIberica;
  src: url(public/Fonts/LongaIberica.ttf);
}

$ibericaFont: "LongaIberica";

@font-face {
  font-family: Dungeon;
  src: url(public/Fonts/dungeon.ttf);
}

$dungeonFont: "Dungeon";

@mixin font($fontName) {
  font-family: $fontName;
  font-variant: small-caps;
}