@import "vars";
@import "fonts";
/* Field background colors */

.positive-bg {
	background-color: $positive-bg;
}
.neutral-bg {
	background-color: $neutral-bg;
}
.negative-bg {
	background-color: $negative-bg;
}

/* Flexbox general settings */ 

.flexbox {
	display: flex;
	background: #edddc2;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;
}


/* General block settings */

.heading {
	font-family: LongaIberica;
	font-weight: bold;
	font-size: 60px;
	text-transform: uppercase;
	flex: 1 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.portrait {
	background-image: url("../../public/img/pic.jpg");
	/* height: 200px;
	width: 200px; */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-style: solid none solid solid;
	border-width: 20px;
	border-radius: 50px 0px 0px 5px;
	border-color: #6632a8 #6632a8 #331954 #6632a8;
	flex-grow: 1;
}


/* Statistics block settings */

.stats{
	align-items: center;
	border-style: solid;
	border-width: 20px;
	border-radius: 0px 50px 5px 0px;
	border-color: #6632a8 #331954 #331954 #6632a8;
	background-image: linear-gradient(#caddfc, #5372a3);
	font-family: sans-serif;
	font-variant: small-caps;
	flex-grow: 1;
}

.table-header, .table-row {
  display: flex;
  justify-content: center;
}

.table-header {
	font-weight: bold;
	font-size: 30px;
	margin: 5px;
}

.table-row:nth-child(even){
	background-color: #e8e8e8;
}

.table-row:nth-child(odd){
	background-color: #cacaca;
}

.table-column {
  flex: 1;
  text-align: center;
  margin: 3px 10px;
}

.table-header .table-column:nth-child(1), .table-row .table-column:nth-child(1) {
	flex: 40;
}
.table-header .table-column:nth-child(2), .table-row .table-column:nth-child(2) {
	flex: 30;
}
.table-header .table-column:nth-child(3), .table-row .table-column:nth-child(3) {
	flex: 30;
}

.table-column.attr-score input[type="number"] {
	text-align: center;
	max-width: 95%;
	width: 100%;
	box-sizing: border-box;
}

/* Statistics block settings END */


.name {
	@include font($galleryaFont);
	font-weight: bold;
	font-size: 40px;
	font-variant: small-caps;
    flex: 1 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-image: linear-gradient(315deg, #2f4353, #d2ccc4);
}


.char-class{
	font-family: Dungeon;
	font-weight: bold;
	font-size: 40px;
    flex: 1 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}